.max-width {
    max-width: 18.75rem;
}
.filter-1 {
    filter: invert(1);
}
.filter-0 {
    filter: invert(0);
}
.size {
    font-size: 3.125rem;
}
.my-container {
    width: 80%;
    margin: 0 auto;
}
.my-dimension-link {
    height: 3.125rem;
    width: 3.125rem;
    line-height: 3.125rem;
    vertical-align: middle;
}